.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e5266;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

form {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

form label {
  color: #d3d0cb;
}
button {
  font-family: "Press Start 2P", cursive;
  height: 40px;
  width: 150px;
  margin: 10px;
  background-color: #d3d0cb;
  border: none;
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 0px 10px 3px grey;
}

#pokeName {
  color: white;
}

#callPoke {
  height: 38px;
  width: 70px;
  margin: 10px;
}

#pokeSearch {
  height: 30px;
  width: 200px;
  margin: 10px;
  font-size: 12px;
  margin-left: 10px;
  text-indent: 10px;
  font-family: "Press Start 2P", cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
}

.App-header {
  background-color: #d3d0cb;
  height: 200px;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-intro {
  font-size: large;
}

#bubbles {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: url("https://i.pinimg.com/originals/fb/34/ba/fb34ba5b87e3ea1ca2da06d51ab57814.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

#message {
  height: 85px;
  width: 300px;
  font-size: 18px;
  background-image: url("./speech.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 220px;
  margin-top: 20px;
}

#speech {
  font-size: 11px;
  margin-bottom: 20px;
}

#pokemon {
  width: 200px;
}

#poop {
  font-size: 50px;
  color: #523f38;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
}

#poopContainer {
  position: relative;
  width: 100%;
  height: 40px;
  transform: translateY(-50%);
}

#callpoke {
  width: 30px;
}

.meters {
  color: white;
  margin: 15px;
  font-size: 18px;
}

.stats {
  font-size: 22px;
}

.pokeHouse {
  width: 500px;
  height: 400px;
  background-image: url("http://www.clker.com/cliparts/O/6/x/A/Z/O/two-trees-green-field-sun.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
